body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container{
    width: 106px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.cell {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    transition: 0.5s linear all;
    
}

.hover {
    background-color: skyblue;
    transition: background-color 1s linear;
    transition: none;
}