body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-options {
    margin-top: 10px;
}

.grid-container{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 1px solid black;
}

.cell {
    min-width: 1px;
    min-height: 1px;
    transition: 0.5s linear all;
    border-color: skyblue;
    opacity: 0;

}

.hover-trail {
    background-color: skyblue;
    opacity: 100;
    transition: none;
}